prefix=
libdir=
includedir=
                                                 
Name: dirq
URL: https://github.com/cern-mig/c-dirq
Description: C implementation of the simple directory queue algorithm
Version:
Libs: -L${libdir} -ldirq
Cflags: -I${includedir}

